config FS_ISO9660
    def_bool y

config TARGET_HAS_DISK
    def_bool y

config TARGET_HAS_NET
  def_bool y

config TARGET_HAS_UI
    def_bool y

config TARGET_HAS_VIDEO
    def_bool y

config DRIVER_SERIAL_NS16550
    def_bool y

config TARGET_NS16550_IO
    def_bool y

config DRIVER_CONSOLE_VGA
    def_bool y
